<nav class="navbar " id="nav">
        <div class="flex-nowrap container justify-content-center ">
          <a class="navbar-brand Rem-4 " href="#">
            <img src="/assets/DestinyLog.png" id="Logo" class="Width-100" alt="Bootstrap" >
          </a>
          <div class="logoSize">
            Academia De Polícia Destiny
          </div>
        </div>
      </nav>

      <main class="mt-1">

        <section class= "d-flex Atividades justify-content-center mt-2" id="Atividades">
            
            <div class="card m-2 mb-4 Width m-auto" id="Atribuicao-card">

                <div class="card-header fw-bold text-center NomesCard" >
                  Atribuição
                </div>

                <div class="card-body text-center">
                  <p class="card-text DescricaoCard">Elaborar  atribuição</p>
                  <a href="/atribuicao" >
                  <button id="Atribuicao"  data-parametro="Atribuicao" class="btn btn-primary">Elaborar</button></a>
                </div>

              </div>

              <div class="card m-2 mb-4 Width m-auto" id="Desligamento-card">

                <div class="card-header fw-bold text-center NomesCard">
                 Desligamento
                </div>

                <div class="card-body text-center">
                
                  <p class="card-text DescricaoCard">Elaborar Desligamento</p>
                  <a href="/desligamento">
                  <button id="Desligamento"  data-parametro ="Desligamento" class="btn btn-primary">Elaborar</button>
                  </a>
                </div>
              </div>

              <div class="card m-2 mb-4 Width m-auto" id="Promocao-card">

                <div class="card-header fw-bold text-center NomesCard">
                 Promoção
                </div>

                <div class="card-body text-center">
                
                  <p class="card-text DescricaoCard">Elaborar Promoção</p>
                  <a href="/Promocao">
                  <button id="Promocao"  data-parametro="Promocao" class="btn btn-primary">Elaborar</button>
                  </a>
                </div>
              </div>

        </section>

        {{!-- <section class="Hide mt-3" id="Cadastro">
          
            <article id="Responsavel">
                <div class="input-group mb-3 px-3" >
                    <input type="text" class="form-control" placeholder="Nome do responsável" aria-label="Username" aria-describedby="basic-addon1" id="NomeResponsavel"  >
                </div>

                <div class="input-group mb-3 px-3">
                    <input type="text" class="form-control" placeholder="R.G. do responsável" aria-label="Username" aria-describedby="basic-addon1" id="RgResponsavel" >
                </div>

                <div class="input-group mb-3 px-3">
                    <input type="text" class="form-control" placeholder="Função do Responsável" aria-label="Username" aria-describedby="basic-addon1" id="FuncaoResponsavel" >
                </div>

            </article>
              
            <article id="Destinatario">
                 
      
            </article>

            <div class="input-group mb-3 px-3" id="Assi">
                  <select class="form-select" id="inputGroupSelect01" >
                    <option selected>Assinatura</option>
                    <option value="Victor Robert">Victor Robert</option>
                    <option value="Luiza Mazuchelli">Luiza Mazuchelli</option>
                    <option value="Warley Souza">Warley Souza</option>
                  </select>
            </div>

            <div class="text-center m-3 d-flex justify-content-around">
                  <button href="#" id="Gerar"  type="submit" class="btn  mb-2 Width-40 btn-success">Gerar</button>
                  <button href="#" id="Voltar" class="btn mb-2 Width-40 btn-secondary">Voltar</button>
            </div>
         
        </section>
      --}}
{{!-- 
        <section class="Pdf Hide mt-css-section" id="Pdf">
          
            <div class="Back"></div>

            <div class="font">
              <div class="text-center mt-2 ">
                <span class="d-block TextSize font">DEPARTAMENTO DE POLÍCIA DO DESTINY</span>
                <span class="d-block fw-bold TextSize">ACADEMIA DE POLÍCIA DESTINY</span>
              </div>
    
              <div class="text-center mb-2 mt-css-div ">
                <span class="d-block TextSize">EXPEDIENTE OFICIAL</span>
                <span class="d-block fw-bold TextSize">GABINETE DE COMANDO ACADEPOL</span>
              </div>
  
             </div>
             
            <hr class="Width-80 m-auto mt-4 mb-5 ">
  
            <div class="Paragrafos font fw  lh-sm">
              <p class="Paragrafo1 mb-5 px-3" id="Paragrafo-1">Eu, DF da academia de polícia DF portador(a) do RG de NºDF no uso de minhas atribuições, decido por: Atribuir o Sr.(a) DF portador do RG de Nº DF atual DF do Departamento de Polícia do Destiny, para funções de DF da Academia De Policia, com atribuições de auxiliar e promover as necessidades do setor.</p>
              <p class="Paragrafo2"></p>
            </div>
  
            <div class="AssinaturaPai m-auto mt-css-assi">
              <p class="Assinatura margin-0 text-center fs-4" id="AssinaturaParagrafo">Lucas Bispo</p>
              <hr class="Width-per m-auto m-0">
              <p class="text-center fw-bold font fs-css">Assinatura do Responsável</p>
              
  
              <div class="data text-center font" id="data">
                
              </div>
            </div>
            
            <Button class="position-fixed bottom-0 end-0" id="Baixar" data-html2canvas-ignore="true">
              <a href="" download="" id="Baixar-a">Baixar</a>
            </Button>
          
          
        </section>
        --}}
        <div id="testando"></div>
      </main>
      