<section class="Pdf Hide mt-css-section" id="Pdf">
      
            <div class="Back"></div>

            <div class="font">
              <div class="text-center mt-2 ">
                <span class="d-block TextSize font">DEPARTAMENTO DE POLÍCIA DO DESTINY</span>
                <span class="d-block fw-bold TextSize">ACADEMIA DE POLÍCIA DESTINY</span>
              </div>
    
              <div class="text-center mb-2 mt-css-div ">
                <span class="d-block TextSize">EXPEDIENTE OFICIAL</span>
                <span class="d-block fw-bold TextSize">GABINETE DE COMANDO ACADEPOL</span>
              </div>
  
             </div>
             
            <hr class="Width-80 m-auto mt-4 mb-5 ">
  
            <div class="Paragrafos font fw  lh-sm">
              <p class="Paragrafo1 mb-5 px-3" id="Paragrafo-1">
                
              {{{if tipo }}}
                
              </p>
              <p class="Paragrafo2"></p>
            </div>
  
            <div class="AssinaturaPai m-auto mt-css-assi">
              <p class="Assinatura margin-0 text-center fs-4" id="AssinaturaParagrafo">{{assinatura}}</p>
              <hr class="Width-per m-auto m-0">
              <p class="text-center fw-bold font fs-css">Assinatura do Responsável</p>
              
  
              <div class="data text-center font" id="data">
                {{data}}
              </div>
            </div>
            
            <Button class="position-fixed bottom-0 end-0" id="Baixar" data-html2canvas-ignore="true">
              <a href="" download="" id="Baixar-a">Baixar</a>
            </Button>
          
          
        </section>

        



